<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.manage.mappper.UserMapper">

<!-- 
	namespace作用
	１.需要与Mapper接口保持一致
	2.唯一标识，映射文件的namespace数值不能重复
 -->

</mapper>